@model InvSys.Models.Report

@{ ViewData["Title"] = "Create"; }

<style>
    .selected {
        background-color: red !important;
    }

    .hidden {
        display: none !important;
    }
</style>

<h1>Create</h1>

<h4>Report</h4>
<hr />

<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-5">
            <div class="form-group">
                <input type="text" placeholder="Search..." autocomplete="off" onkeyup="search_table()" class="form-control" id="search" />
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="button" value="Add" class="btn btn-primary" id="add" onclick="AddItem()" />
            </div>
        </div>
    </div>
    <table class="table table-striped" id="itemsTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Room</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Items)
            {
                <tr data-id="@item.Id">
                    <td>@item.Id</td>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.Room.Name</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-striped" id="reportsTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Room</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var reports = 0;

        $("#itemsTable tbody tr").click(function () {
            $("#itemsTable tbody tr.selected").removeClass('selected');
            $(this).addClass('selected');
        });

        function AddItem() {
            var id = $('#itemsTable tbody tr.selected').data('id');

            $.ajax({
                type: "GET",
                url: "/Items/GetItemDetails",
                data: { id: id },
                contentType: "application/json",
                success: function (data) {
                    $("#reportsTable tbody").append(`<tr data-id="report${reports}"><td>${data.id}</td><td>${data.code}</td><td>${data.name}</td><td>${data.roomName}</td><td><a onclick="RemoveItem(${reports})">Remove</a><input class="hidden" name="ReportDetails[${reports}].ItemId" value="${data.id}"></td></tr>`);
                    $("#itemsTable tbody tr.selected").removeClass('selected');
                    reports++;
                    //$("#itemsTable tbody tr.selected").addClass('hidden');
                }
            });
        }

        function RemoveItem(id) {
            $(`tr[data-id="report${id}"]`).remove();
            for (var i = id; i < reports; i++) {
                $(`tr[data-id="report${i + 1}"] input`).attr(`name`, `ReportDetails[${i}].ItemId`);
                $(`tr[data-id="report${i + 1}"] a`).attr(`onclick`, `RemoveItem(${i})`);
                $(`tr[data-id="report${i + 1}"]`).attr('data-id', `report${i}`);
            }
            reports--;
        }

        function search_table() {
            $('#itemsTable tbody tr.selected').removeClass('selected');

            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("itemsTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    let tdata = td[j];
                    if (tdata) {
                        if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].classList.remove('hidden');
                            break;
                        } else {
                            tr[i].classList.add('hidden');
                        }
                    }
                }
            }

            $('#itemsTable tbody tr:not(.hidden):first').addClass('selected');
        }
    </script>

}