@model InvSys.Models.Report

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDetails)
        </dt>
        <dd class="col-sm-10">
            @foreach (var groupedReportDetails in Model.ReportDetails.GroupBy(x => x.Item.RoomId))
            {
                <text>@groupedReportDetails.FirstOrDefault().Item.Room.Name<br /></text>
                foreach (var reportDetail in groupedReportDetails)
                {
                    <text>@reportDetail.Item.Name<br /></text>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
