@model IEnumerable<InvSys.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>Reports</h1>


<div class="container table-responsive py-5">
    <a asp-action="Create" class="badge badge-success">Create New</a>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>Details</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @item.Created.ToShortDateString()
                    </td>
                    <td>
                        @foreach (var reportDetail in item.ReportDetails)
                        {
                            <text>@reportDetail.Item.Name (@reportDetail.Item.Room.Name)<br /></text>
                        }
                    </td>
                    <td>
                        <a asp-action="Details" class="badge badge-info" asp-route-id="@item.Id">Details</a>
                        @if (User.IsInRole("Administrator"))
                        {
                            <text>
                                |
                                <a asp-action="Delete" class="badge badge-danger" asp-route-id="@item.Id">Delete</a>
                            </text>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>