﻿@model InvSys.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Faculty of Natural Sciences and Mathematics</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Reports for this faculty can be found <a asp-action="Index" asp-controller="Reports">here</a>.</p>
    }
</div>

<div class="row mb-3">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-success">
            <div class="card-block bg-success">
                <div class="rotate">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Users</h6>
                <h1 class="display-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Model.users
                    }
                    else
                    {
                        <text>/</text>
                    }
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-danger">
            <div class="card-block bg-danger">
                <div class="rotate">
                    <i class="fa fa-list fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Floors/Rooms</h6>
                <h1 class="display-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <text>@Model.floors/@Model.rooms</text>
                    }
                    else
                    {
                        <text>/</text>
                    }
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-info">
            <div class="card-block bg-info">
                <div class="rotate">
                    <i class="fa fa-list fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Items</h6>
                <h1 class="display-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Model.items
                    }
                    else
                    {
                        <text>/</text>
                    }
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-warning">
            <div class="card-block bg-warning">
                <div class="rotate">
                    <i class="fa fa-list fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Reports</h6>
                <h1 class="display-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Model.reports
                    }
                    else
                    {
                        <text>/</text>
                    }
                </h1>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    body,
    html {
        height: 100%;
    }
        /* workaround modal-open padding issue */

        body.modal-open {
            padding-right: 0 !important;
        }

    #sidebar {
        padding-left: 0;
    }
    /*
    * Off Canvas at medium breakpoint
    * --------------------------------------------------
    */

    @@media screen and (max-width: 48em) {
        .row-offcanvas {
            position: relative;
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
        }

        .row-offcanvas-left .sidebar-offcanvas {
            left: -33%;
        }

        .row-offcanvas-left.active {
            left: 33%;
            margin-left: -6px;
        }

        .sidebar-offcanvas {
            position: absolute;
            top: 0;
            width: 33%;
            height: 100%;
        }
    }
    /*
    * Off Canvas wider at sm breakpoint
    * --------------------------------------------------
    */

    @@media screen and (max-width: 34em) {
        .row-offcanvas-left .sidebar-offcanvas {
            left: -45%;
        }

        .row-offcanvas-left.active {
            left: 45%;
            margin-left: -6px;
        }

        .sidebar-offcanvas {
            width: 45%;
        }
    }

    .card {
        overflow: hidden;
    }

    .card-block .rotate {
        z-index: 8;
        float: right;
        height: 100%;
    }

        .card-block .rotate i {
            color: rgba(20, 20, 20, 0.15);
            position: absolute;
            left: 0;
            left: auto;
            right: -10px;
            bottom: 0;
            display: block;
            -webkit-transform: rotate(-44deg);
            -moz-transform: rotate(-44deg);
            -o-transform: rotate(-44deg);
            -ms-transform: rotate(-44deg);
            transform: rotate(-44deg);
        }

    a.navbar-brand {
        word-break: normal !important;
    }
</style>
