﻿@model IEnumerable<InvSys.Models.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Items</h1>

<div class="container table-responsive py-5">
    <a asp-action="Create" class="badge badge-success">Create New</a>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @item.Created.ToShortDateString()
                </td>
                <td>
                    <a asp-action="Edit" class="badge badge-warning" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="badge badge-info" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <text>
                            |
                            <a asp-action="Delete" class="badge badge-danger" asp-route-id="@item.Id">Delete</a>
                        </text>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
